[submodule "/Users/jiwookim/study/Plantory-Server/src/main/resources/config"]
	path = /Users/jiwookim/study/Plantory-Server/src/main/resources/config
	url = https://github.com/gdsc-konkuk/Plantory-Server-Config.git
